.cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .cards__list {
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  }
}
